<h1>Mini blog</h1>

<hr>


<ul>
    <% @posts.each do |post| %>
	<li>
	    <p>
		<%= post.id %>: 
		<%= link_to post do %>
		    <%= post.text %>
		<% end %>
	    </p>
	    <p>
		いいね: <%= post.like %>｜
		コメント数: <%= post.comments.count%>｜
		投稿日時: <%= post.created_at %>
	    </p>
	</li>
    <% end %>
</table>

<%= link_to '新しい投稿', new_post_path %>
