<h1>Mini blog</h1>

<%= form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
	<div id="error_explanation">
	    <h2><%= @post.errors.count %>件のエラーが発生したため保存ができませんでした．</h2>
	    <ul>
		<% @post.errors.full_messages.each do |msg|  %>
		    <li><%= msg %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>
    <p>
	<%= f.text_field :text, placeholder: "投稿しよう" , size: 80 %>
	<%= f.submit "投稿する" %>
    </p>
<% end %>

<hr>

<ul class="blogs">
    <% @posts.each do |post| %>
	<li class="blog">
	    <p class="blog-title">
		<%= post.id %>: 
		<span class="text-body">
		    <%= link_to post do %>
			<%= post.text %>
		    <% end %>
		</span>
	    </p>
	    <p class="meta">
		<span class="like">
		    <%= link_to "いいね", like_post_path(post) %>
		    : <%= post.like %>
		</span>
		| <span class="comment">コメント数: <%= post.comments.count%></span> 
		| <span class="post-date">投稿日時: <%= post.created_at %></span>
	    </p>
	</li>
    <% end %>
</ul>
