
<%= link_to '戻る', posts_path %>

<p>
    <span>投稿日時：<%= @post.created_at %></span>
</p>
<p>
    <%= @post.text %>
</p>

<!-- コメント投稿欄 -->
<%= render "comments/form" %>
<hr>
<!-- コメント一覧表示 -->
<%= render @post.comments %>

