
<%= link_to '戻る', posts_path %>

<p>
    <strong>タイトル：</strong>
    <%= @post.title %>
</p>
<p>
    <strong>内容：</strong>
    <%= @post.text %>
</p>

<!-- コメント投稿欄 -->
<%= render "comments/form" %>
<!-- コメント一覧表示 -->
<%= render @post.comments %>

